@font-face {
    font-family: 'Kavoon';
    src: url('../fonts/Kavoon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Saira Stencil One';
    src: url('../fonts/SairaStencilOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo Black';
    src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.kavoon-regular {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}



.asq{
    position: fixed;
    transition-duration: 0.8s;
    bottom: 5px ;
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 85%;
    height: 50px;
    border-radius: 200px;
    border-color: rgba(220, 220, 220, 0.5);
    border-style: solid;
    border-width: 3px;
    background-color: #ffffff;
    padding: 15px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(0px);
    &.qq{
      transform: translateY(150px);
    }
}

.c{
    transition-duration: 0.4s;
    display: flex;
    flex-direction: row;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 200px;
    border-color: rgba(220, 220, 220, 0.5);
    border-style: solid;
    border-width: 3px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: #000000;
    width: 60px;
    height: 60px;
    font-size: 20px;
    transform: translateY(-30px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &.q{
        transform: translateY(0px);
        background-color: rgb(255, 255, 255);
    }
}


.aaa{
    display: flex;
    flex-direction: row;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 330px;
    height: 10px;
    border-radius: 20px;
    font-size: 10px;
    border-color: rgba(220, 220, 220, 0.5);
    border-style: solid;
    border-width: 3px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 10px;
    margin: 0px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mm{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.nn{
    display: flex;
    width: 330px;
    height: 160px;
    padding: 10px;
    margin: 10px;
}

.nn1{
    display: flex;
    width: 330px;
    height: 20px;
    padding: 10px;
    margin: 10px;
}


body{
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
    padding: 0px;
}

.rr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

/* Animation framåt */
.rr.ee {
    animation: dropDown 1.5s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

/* Animation bakåt */
.rr.eer {
    animation: dropDown 1.5s cubic-bezier(0.65, 0, 0.35, 1) reverse forwards;
}

.r1r {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

/* Animation framåt */
.r1r.ee {
    animation: dropDown 1.5s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

/* Animation bakåt */
.r1r.eer {
    animation: dropDown 1.5s cubic-bezier(0.65, 0, 0.35, 1) reverse forwards;
}

/* Öppnings-animation */
@keyframes dropDown {
  0% {
    opacity: 0;
    gap: 10px;
    transform: translateY(-500px);
  }
  50% {
    opacity: 1;
    gap: 20px;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    gap: 10px;
    transform: translateY(0);
  }
}


.asqc{
    position: fixed;
    top: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 95%;
    height: 50px;
    padding: 5px;
    margin: 0px;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: #00000000;
}

.a{
    transition-duration: 0.4s;
    display: flex;
    flex-direction: row;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 200px;
    border-color: rgba(220, 220, 220, 0.5);
    border-style: solid;
    border-width: 3px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: #000000;
    width: 50px;
    height: 50px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.nxx{
    width: 40px;
    &.q{
        animation: rr 1.5s cubic-bezier(0.65, 0, 0.35, 1) forwards;
    }
}

@keyframes rr {
  0% {
    opacity: 0;
    gap: 10px;
    transform: translateY(-500px);
  }
  50% {
    opacity: 1;
    gap: 20px;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    gap: 10px;
    transform: translateY(0);
  }
}

.an{
    transition-duration: 0.4s;
    display: flex;
    flex-direction: row;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 200px;
    border-color: rgba(220, 220, 220, 0.5);
    border-style: solid;
    border-width: 3px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
    color: #000000;
    width: auto;
    height: 50px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.kqq{
  transition-duration: 0.4s;
  display: flex;
  width: 50px;
  height: 30px;
  border-radius: 20px;
  border-color: rgba(220, 220, 220, 0.5);
  border-style: solid;
  border-width: 2px;
  background-color: #920606;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: start;
  align-items: center;

}

#ccccc:checked + .kqq {
    transition-duration: 0.4s;
    background-color: #14a81b;
    justify-content: end;
}

.kqqq{
  transition-duration: 0.4s;
  display: flex;
  width: 20px;
  height: 20px;
  margin: 3px;
  border-radius: 20px;
  border-color: rgba(220, 220, 220, 0.5);
  border-style: solid;
  border-width: 2px;
  background-color: #ffffff88;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.aaq{
    display: flex;
    flex-direction: row;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 330px;
    height: 30px;
    border-radius: 20px;
    border-color: rgba(220, 220, 220, 0.5);
    border-style: solid;
    border-width: 3px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 10px;
    margin: 0px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ggr{
    display: flex;
    flex-direction: row;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 330px;
    height: 30px;
    border-radius: 20px;
    border-color: rgba(220, 220, 220, 0.5);
    border-style: solid;
    border-width: 3px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 10px;
    margin: 0px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ggr1{
    display: flex;
    flex-direction: row;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 330px;
    height: 50px;
    border-radius: 20px;
    border-color: rgba(220, 220, 220, 0.5);
    border-style: solid;
    border-width: 3px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 10px;
    margin: 0px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mmx{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.aaq1{
    position: fixed;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition-duration: 0.4s;
    bottom: 100px ;
    display: none;
    flex-direction: row;
    gap: 5px;
    width: 320px;
    height: 50px;
    border-radius: 200px;
    border-color: rgba(220, 220, 220, 0.5);
    border-style: solid;
    border-width: 3px;
    background-color: #ffffff;
    padding: 15px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &.qq{
      display: flex;
    }
}

.mmmm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
    align-items: center;
    overflow-y: scroll;
}

.mmmmm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    align-items: center;
    overflow-y: scroll;
}

.asss{
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}

.nnndd{
  transition-duration: 0.4s;
  border-radius: 50px;
  animation: rr111 3.5s infinite;
}

@keyframes rr111 {
  0% {
    background-color: #00c3ff;
  }
  20% {
    background-color: #ff00f2;
  }
  40% {
    background-color: #ff0022;
  }
  60% {
    background-color: #ff00bf;
  }
  80% {
    background-color: #003cff;
  }
  100% {
    background-color: #00c3ff;
  }
}

.heeeq{
  display: flex;
  flex-direction: row;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  align-items: center;
  width: 100%;
  height: 30px;
  justify-content: space-between;
}

.qqqqw{
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
}

.qqqqwq{
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.qqqqwvv{
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.aa{
    display: flex;
    flex-direction: column;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 330px;
    height: 50px;
    border-radius: 20px;
    border-color: rgba(220, 220, 220, 0.5);
    border-style: solid;
    border-width: 3px;
    background-color: rgb(167, 167, 167);
    color: #000000;
    padding: 10px;
    margin: 0px;
    align-items: start;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.qqaaa{
    display: flex;
    flex-direction: column;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 330px;
    height: 15px;
    border-radius: 20px;
    border-color: rgba(220, 220, 220, 0.5);
    border-style: solid;
    border-width: 3px;
    background-color: #b9b9b9;
    color: #ffffff;
    padding: 10px;
    margin: 0px;
    align-items: start;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.qq1aaa{
    display: flex;
    flex-direction: row;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    align-items: center;
    width: 100%;
    height: 20px;
    justify-content: space-between;
}

.alllq{
    transition-duration: 0.8s;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    height: auto;
    border-radius: 50px;
    border-color: rgba(220, 220, 220, 0.5);
    border-style: solid;
    border-width: 3px;
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    align-items: start;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(0px);
    &.qq{
      transform: translateY(150px);
    }
}

.jhyy{
  width: 40px;
  height: 40px;
  image-resolution: 100px;

}

.qwwwdd{
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.YTREVB{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ggr122{
    display: flex;
    flex-direction: row;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 330px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    border-color: rgba(220, 220, 220, 0.5);
    border-style: solid;
    border-width: 3px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 10px;
    margin: 0px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aaq12{
    display: flex;
    flex-direction: row;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 330px;
    height: 30px;
    border-radius: 20px;
    border-color: rgba(220, 220, 220, 0);
    border-style: solid;
    border-width: 3px;
    background-color: rgba(255, 255, 255, 0);
    color: #000000;
    padding: 10px;
    margin: 0px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.aaq123{
    transition-duration: 0.8s;
    display: flex;
    flex-direction: row;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border-color: rgba(220, 220, 220, 0.5);
    border-style: solid;
    border-width: 3px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 10px;
    margin: 0px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &.rr{
      background-color: rgb(146, 206, 255);
    }
  }

.popup-overlay {
  transition-duration: 0.3s;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-box {
  background: white;
  border-radius: 52px;
  width: 100%;
  height: 100%;
  box-shadow: 0px -18px 100px 0px rgba(0, 0, 0, 0.479);
  position: fixed;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

/* Slide in */
.popup-box.q1 {
  animation: pop 0.2s ease;
  transform: translateY(50%);
}

/* Slide out */
.popup-box.closing {
  transform: translateY(100%);
}


@keyframes pop {
  from { transform: translateY(100%); }
  to { transform: translateY(50%); }
}

.tttttk{
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.aeeqea{
    display: flex;
    flex-direction: column;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 330px;
    height: 50px;
    border-radius: 20px;
    border-color: rgba(220, 220, 220, 0.5);
    border-style: solid;
    border-width: 3px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 10px;
    margin: 0px;
    align-items: start;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}